.btn {
    width: auto;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.25rem;
    
    &.btn-blue {
        background: #00027eb5;
         color:#fff;
        &:hover{
            background-color: #1417c5b5;
        }
    }

    &.btn-green {
        background: #0bce0bb5;
         color:#fff;
        &:hover{
            background-color: #157b15b5;
        }
    }

      &.btn-grey {
        background: #808180b5;
        color:#fff;
        &:hover{
            background-color: #444444b5;
        }
    }

    &.btn-red {
        background: #dc3545;
         color:#fff;
        &:hover{
            background-color: #961c28;
        }
    }

     &.btn-white {
        background: white;
         color:black;
        &:hover{
            background-color: #c3c3c3b5;
        }
    }
}

