@use "../../node_modules/flexboxgrid/css/flexboxgrid.min.css";

@use "../../node_modules/uniformcss/dist/uniform.min.css";

@use "accordion";

@use "buttons";
@use "input";

.c-form-block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;


    height: unset;
    margin-top: 0;
    margin-bottom: 0;
     @media (min-width: 768px) {
      height: initial;
      margin-top: unset;
      margin-bottom: unset;
     }
  

 @media (min-width: 768px) {
    // margin: 25% auto;
    height: auto;
    width:auto;
  }
  &--edit-pwd,&--edit-pwdcat{
      margin: 25% auto;
      align-items: unset;
      @media (min-width: 768px) {
        height: 75%;
        width: 500px;
      }
  }

  &--read-pwd{
    height: 70%;
     @media (min-width: 768px) {
      
     }
  }

}


.c-form-block--login{
 
    // width: 80%;
    // border: 5px solid;
    // border-radius: 10%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, 50%);
    // padding: 10px;
        width: 100%;
    border: 5px solid;
    border-radius: 5%;
    /* position: absolute; */
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, 50%); */
    padding: 10px;
   @media (min-width: 768px){
      width: 50%;
      border: 5px solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      padding: 10px; 
  }
}

.c-form-block--register{
 
    // width: 80%;
    // border: 5px solid;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, 50%);
    // padding: 10px;
    width: 100%;
    border: 5px solid;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, 50%); */
    padding: 10px;
   @media (min-width: 768px){
      width: 50%;
      border: 5px solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px; 
  }
}

.c-form-block--new-password{
   
    // width: 80%;
    // border: 5px solid;
    // border-radius: 10%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, 50%);
    // padding: 10px;
        width: 100%;
    border: 5px solid;
    border-radius: 5%;
    /* position: absolute; */
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, 50%); */
    padding: 10px;
   @media (min-width: 768px){
        width: 50%;
        border: 5px solid;
        position: absolute;
        top: -15%;
        transform: translate(-50%, 50%);
        padding: 10px;
  }
}
.c-form-block--edit-password{
  
    width: 100%;
    border: 5px solid;
    border-radius: 5%;
    left: 50%;
    padding: 10px;
   @media (min-width: 768px){
        width: 50%;
        border: 5px solid;
        position: absolute;
        top: -15%;
        transform: translate(-50%, 50%);
        padding: 10px;
  }
}

.c-form-block--new-password-category{
   

        width: 100%;
    border: 5px solid;
    border-radius: 5%;
    /* position: absolute; */
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, 50%); */
    padding: 10px;
   @media (min-width: 768px){
        width: 50%;
        border: 5px solid;
        position: absolute;
        top: -15%;
        transform: translate(-50%, 50%);
        padding: 10px;
  }
}

.c-form-block--edit-password-category{
   
    // width: 80%;
    // border: 5px solid;
    // border-radius: 10%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, 50%);
    // padding: 10px;
        width: 100%;
    border: 5px solid;
    border-radius: 5%;
    /* position: absolute; */
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, 50%); */
    padding: 10px;
   @media (min-width: 768px){
        width: 50%;
        border: 5px solid;
        position: absolute;
        top: -15%;
        transform: translate(-50%, 50%);
        padding: 10px;
  }
}


// .c-form-block--new-password-category-block{
//     width: 100%;
//     border: 5px solid;
//     border-radius: 5%;
//     left: 50%;
//     padding: 10px;
//    @media (min-width: 768px){
//         width: 50%;
//         border: 5px solid;
//         position: absolute;
//         top: -15%;
//         transform: translate(-50%, 50%);
//         padding: 10px;
//   }
// }

// .c-form-block--edit-password-category-block{
//       width: 100%;
//     border: 5px solid;
//     border-radius: 5%;
//     left: 50%;
//     padding: 10px;
//    @media (min-width: 768px){
//         width: 50%;
//         border: 5px solid;
//         position: absolute;
//         top: -15%;
//         transform: translate(-50%, 50%);
//         padding: 10px;
//   }
// }
.mr-auto{
  margin-right: auto;
}
.mL-auto{
  margin-left: auto;
}

  .l-container{
    max-width:1200px;
    margin:0 auto;
    padding-left:2rem;
    padding-right:2rem;
  }

  footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}