@use "../../node_modules/flexboxgrid/css/flexboxgrid.min.css";

@use "../../node_modules/uniformcss/dist/uniform.min.css";

@use "accordion";

@use "buttons";
@use "input";

.c-form-block{
  //height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 75% auto;

 @media (min-width: 768px) {
    margin: 25% auto;
    height: auto;
    width:auto;
  }
}

.c-form-block--login{
  width: 500px;
}

// @use "uniform" as * with (
//   $config: (
//     important: true,
//     colors: (
//       custom-color-1: red,
//       custom-color-2: blue
//     )
//   )
// );

  .l-container{
    max-width:1200px;
    margin:0 auto;
    padding-left:2rem;
    padding-right:2rem;
  }

  footer {
 position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}